
<p><strong>Detail:</strong> <span th:text="${item.itemDetail}"></span></p>
<p><strong>Main Genre:</strong> <span th:text="${item.mainGenre}"></span></p>
<p><strong>Sub Genre:</strong> <span th:text="${item.subGenre}"></span></p>

<p><strong>Release Date:</strong> <span th:text="${item.releaseDate}"></span></p>
<p><strong>Vote Average:</strong> <span th:text="${item.voteAverage}"></span></p>
<p><strong>Popularity:</strong> <span th:text="${item.popularity}"></span></p>
<img th:src="${item.thumbnailUrl}" alt="Thumbnail">





<p><strong>Title:</strong> <span th:text="${item.title}"></span></p>



<p><strong>Running Time:</strong> <span th:text="${item.runningTime}"></span> minutes</p>